.about {
  min-height: 100vh;
}

.headshot-container {
  grid-column: 1 / span 18;
  grid-row: 1;
}

.about-info {
  grid-column: span 20 / -2;
  grid-row: 1;
  display: flex;
  flex-direction: column;

  h2 {
    padding-left: 3px;
    margin-bottom: -5px;
  }

  .visual-heading {
    color: $nonBinaryGold;
    margin: 5px 0;
  }

  &>p {
    margin: 20px 0;
  }
}

.button {
  // with a new button hover, should change the margin-left 5px back to 0 for better alignment
  margin: 25px 5px 55px 5px;
  align-self: start;

  &:hover {
    color: $nonBinaryGold;
  }
}

.skills {
  grid-column: span 20 / -2;
}

.skills-box {
  grid-column: span 20 / -2;
  display: grid;
  grid-template-columns: repeat(6, minmax(70px, 1fr));
  grid-auto-columns: 1fr;
  grid-gap: 10px;

  h4 {
    font-size: 1.8rem;
    padding-left: 8px;
    width: 100%;
    grid-column: span 18 / -2;
  }

  .skill {
    justify-self: flex-start;
    align-self: center;
    height: 100%;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &:hover {
      transform: scale(1.2);
      transition: transform 0.3s;
    }

    svg {
      margin: 0 auto;
    }
  }

  p {
    font-size: 1.2rem;
    text-align: center;
    margin: 7px 0;
  }

  .html svg,
  .css svg,
  .javascript svg {
    width: 60px;
  }

  .jquery svg,
  .react svg,
  .firebase svg {
    width: 70px;
  }

  .javascript svg,
  .react svg {
    padding-bottom: 3px;
  }

  .firebase svg {
    margin-bottom: -15px;
  }
}

@include break-at('tablet') {
  .headshot-container {
    grid-column: 2 / -2;
    grid-row: auto;
    margin: 0 auto 2rem;
  }

  .about-info,
  .skills,
  .skills-box {
    grid-column: 2 / -2;
    grid-row: auto;
    max-width: 700px;
    margin: 0 auto;
  }

  .skills-box {
    width: 100%;

    .skill {
      justify-self: center;
    }
  }
}

@include break-at('mobile') {
  .skills-box {
    grid-template-columns: repeat(3, minmax(70px, 1fr));
  }
}