.header {
  min-height: 8vh;
  position: fixed;
  z-index: 99;
  left: 0;
  right: 0;
  top: 7px;
  pointer-events: none;
  
  nav ul {
    max-width: 1450px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @include break-at('mobile') {
      margin: 0 1rem;
    }

    li {
      padding: 10px;
      display: flex;
      align-items: center;

      svg {
        width: 100%;
      }
    }
  }
}

.get-in-touch {
  pointer-events: all;
  a {
    padding: 5px;
    width: 100%;
    transform: rotate(-30deg);
    transition: transform 1s;

    &:hover,
    &focus {
      transform: rotate(182deg);
      transition: transform 1s;
    }
  }
}

.get-in-touch,
.turkey-logo {
  width: 100px;

  @include break-at('mobile') {
    width: 75px;
  }
}