.hero {
  min-height: 100vh;
  margin: 4rem auto;
  justify-content: center;
  align-content: center;

  h1 {
    color: $transBlue;
    margin: 25px 0 0 0;
    opacity: 0;
    animation: fading-in 3s 1.5s forwards;
    grid-column: 2 / -2;
    text-align: center;

    @include break-at('mobile') {
      margin-top: 0;
    }
  }

  & p:first-child {
    text-align: center;
  }
  
  & p:last-child {
    text-align: center;
  }
}


.subheading,
.surheading {
  grid-column: 2 / -2;
  text-align: center;
}

.developer,
.debug,
.debutante,
.surheading {
  opacity: 0;
  animation: fading-in 3s forwards;
}

.developer {
  animation-delay: 3s;
}
.debug {
  animation-delay: 4s;
}
.debutante {
  animation-delay: 5s;
}

.skip-to-content {
  width: 65px;
  grid-column: 2 / -2;
  margin: 4rem auto 0;
}