.project {
  padding: 20rem 0;
}

.project h2,
.visual-heading {
  grid-column: 2 / -2;
  text-align: center;
}

.visual-heading {
  margin: 0 auto 20rem;
  width: 60%;
  
  @include break-at('tablet') {
    width: 100%;
  }
}

.projects-list {
  grid-column: 1 / -1;
  
  li {
    margin-bottom: 40vh;
    
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  
  @include break-at('tablet') {
    grid-column: 2 / -2;
  }
}

.visual-heading {
  color: $agenderGreen;
}

.winnie {
  color: $agenderGreen;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s, padding 0.3s;
  padding: 2px 0 0;

  &:hover,
  &:focus {
    color: $background;
    background-color: $agenderGreen;
    padding: 2px 7px 0;
    transition: background-color 0.3s, color 0.3s, padding 0.3s;
  }
}