.image-container {
  grid-column: 1 / span 22;
  grid-row: 1;

  &.odd {
    grid-column: span 22 / -1;
  }

  @include break-at('tablet') {
    grid-column: 3 / -3;

    &.odd {
      grid-column: 3 / -3;
    }
  }

  @include break-at('tablet') {
    grid-column: 2 / -2;

    &.odd {
      grid-column: 2 / -2;
    }
  }
}

.text-container {
  grid-column: span 18 / -2;
  grid-row: 1;
  align-self: center;
  background-color: $background;
  padding: 4rem 0;
  position: relative;
  text-align: left;

  &.odd {
    grid-column: 2 / span 18;
    padding-right: 2rem;
  }

  &.even {
    padding-left: 6rem;
  }

  @include break-at('tablet') {
    grid-column: 5 / -5;
    grid-row: 2;
    top: -8rem;
    padding: 4rem;

    &.odd {
      grid-column: 5 / -5;
    }

    &.even {
      padding-left: 4rem;
    }
  }

  @include break-at('mobile') {
    grid-column: 2 / -2;
    top: 0;
    padding: 1rem;

    &.odd {
      grid-column: 2 / -2;
    }

    &.even {
      padding-left: 1rem;
    }
  }


  &.gender-queer-purple {
    border-top: 6px solid $genderQueerPurple;
    color: $genderQueerPurple;
  }

  &.trans-pink {
    border-top: 6px solid $transPink;
    color: $transPink;
  }

  &.trans-blue {
    border-top: 6px solid $transBlue;
    color: $transBlue;
  }

  &.agender-green {
    border-top: 6px solid $agenderGreen;
    color: $agenderGreen;
  }

  h3 {
    color: inherit;
  }

  .skills,
  .description {
    color: $white;
  }

  .description {
    margin: 1.2rem 0 2.1rem;
  }

  .links a:first-of-type {
    margin-right: 3rem;
  }
}