.projects {
  padding: 20rem 0;
}

.projects h2,
.visual-heading {
  grid-column: 2 / -2;
  text-align: center;
}

.visual-heading {
  margin: 0 auto 20rem;
  width: 60%;
  
  @include break-at('tablet') {
    width: 100%;
  }
}

.projects-list {
  grid-column: 1 / -1;
  
  li {
    margin-bottom: 40vh;
    
    &:last-of-type {
      margin-bottom: 0;
    }

    @include break-at('tablet') {
      margin-bottom: 26vh;
    }
  }
}

.visual-heading {
  color: $agenderGreen;
}
